@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

@if (@Html.DropDownList("StylistId") != null)
{
  <h3>Add new Client: </h3>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model=> model.Name, new { @required="required"})
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId", (SelectList)ViewBag.MyList, "Please select stylist from the list or add if list is empty", new { @class = "form-control" , @required = "required"})
    <input type="submit" value="Add new client" class="btn btn-success" />
  }
}


<button class="btn btn-primary">@Html.ActionLink("Show all clients", "Index")</button>
<button class="btn btn-secondary">@Html.ActionLink("Back to Home page", "Index", "Home")</button>